.popup__button-save {
    width: 100%;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 2px;
    border: none;
    margin-top: 30px;
    padding: 18px;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
}

.popup__button-save:hover {
    opacity: 0.8;
    transition: all 0.5s;
  }

@media screen and (max-width: 768px) {
    .popup__button-save {
      width: 238px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 30px;
      padding: 14px;
    }
  }  