.profile__user-description {
  max-width: 336px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
}

@media (max-width: 700px) {

  .profile__user-description {
    max-width: 220px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
