.popup__input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 17px;
    padding: 14px 0 8px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
  }