.cards__trash {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/trash_type_active.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cards__trash:hover {
  opacity: 0.6;
}
