.cards__like {
  width: 22px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
  background-image: url(../../../images/heart_type_disabled.svg);
  transition: opacity 200ms;
}

.cards__like:hover {
  opacity: 0.5;
}
