.profile__name {
  max-width: 294px;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  color: #fff;
  overflow: hidden;
}

@media (max-width: 700px) {

  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
  }
}
